.git
.github
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.venv
env
node_modules
web/node_modules
web/forklift/node_modules
web/forklift/.next
web/forklift/dist
sp-metadata.xml
idp-metadata.xml
certs/*.key
certs/*.crt
*.sqlite
*.db
