.git
.github
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.venv
env
node_modules
web/node_modules
web/forklift/node_modules
web/forklift/.next
web/forklift/dist
asu-unity-react/node_modules
asu-unity-react/dist
asu-unity-react/.yarn/cache
asu-unity-react/.yarn/unplugged
sp-metadata.xml
idp-metadata.xml
certs/*.key
certs/*.crt
*.sqlite
*.db
