certs/
env/
venv/
__pycache__/
*.pyc
.DS_Store
.idea/
.vscode/
idp-metadata.xml
sp-metadata.xml
.gitignore
instance/
*.sqlite3
*.log
*.pot
*.mo
*.db
*.egg-info/
dist/
build/
*.egg
*.bak
*.swp
*.swo
*.tmp
*.~*
*.cover
.coverage
.env
*.csv
*.xlsx
*.pdf
*.docx
*.pptx
*.zip
node_modules/
*.tar.gz